/********* Content Grid Basic *********/
.content-grid-style-basic {
  .pp-content-post, .listing * {transition: var(--transition-brand);}
  .pp-content-post-grid {
    gap: var(--spacing-sm);
    @media only screen and (min-width: $screen-sm) {
      gap: 24px;
    }
  }
  .pp-content-post {
    border-radius: var(--border-radius-md);
    background: #fff;
    box-shadow: var(--shadow-1);
    padding: 10px;
  }
  // Link
  .link {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 auto auto 0;
    z-index: 2;
  }
  // Featured Image
  .featured-image-bg, .featured-image-bg .inner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .featured-image-bg {
    border-radius: var(--border-radius-sm);
    position: relative;
    overflow: hidden;
    aspect-ratio: 5 / 3;
    min-height: 180px;
    background-image: url('/wp-content/uploads/2025/09/default-featured-image.jpg');
    .inner {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .info {
    padding: 20px;
  }
  .title {
    display: flex;
    font-family: var(--font-main);
    font-weight: 700;
    margin: 0;
    line-height: 1.3;
    span {
      flex: 1;
    }
    i {
      flex: 0 0 auto;
      margin: 0 10px;
      display: inline-flex;
      width: 16px;
      height: auto;
      aspect-ratio: 1/1;
      mask-repeat: no-repeat;
      mask-size: 100% auto;
      mask-position: center center;
      mask-image: url('/wp-content/uploads/2025/09/icon_arrow-right-black.svg'); 
      background-color: var(--color-primary-5);
    }
  }
  // Meta
  .meta {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-grey);
    text-transform: uppercase;
  }
  // Excerpt
  .excerpt {
    margin-top: 8px;
    @media only screen and (min-width: $screen-sm) {
      font-size: 17px;
      line-height: 1.65;
    }
    p {
      margin: 0;
      display: inline;
    }
  }
  // Post type meta to display
  .type-page {
    .meta.date {display: none;}
  }
  .type-post {
    .meta.event-date {display: none;}
  }
  .type-tribe_events {
    .meta.post-date {display: none;}
  }
  // Hover/Focus
  .pp-content-post {  
    &:hover {
      box-shadow: var(--shadow-2);
      .title {
        span {
          text-decoration: underline;
          color: var(--color-link);
        }
        i {
          background: var(--color-link);
          margin-right: 0;
        }
      }
    }
    &:focus, &:active {
      background: var(--color-grey-cool-30);
    }
  }
  // Carousel
  .pp-content-post-carousel {
    padding: 0;
    .pp-content-post {
      margin: 12px;
    }
  }
  
  // Mobile
}
/*** Rows Layout ***/
.content-grid-style-basic.rows-layout {
  @media only screen and (min-width: $screen-sm) {
    .listing {
      display: flex;
      //grid-template-columns: 280px 1fr;
      gap: 30px;
    }
    .featured-image-bg {
      width: 100%;
      flex: 0 0 280px;
    }
    .info {
      padding: 0;
      flex: 1;
    }
  }
}
/*** Image Sizes ***/
.content-grid-style-basic.img-portrait {
  .featured-image-bg {
    aspect-ratio: 15 / 16;
  }
}
/*** Hide Elements ***/
.content-grid-style-basic {
  &.hide-image .featured-image-bg,
  &.hide-date .date,
  &.hide-excerpt .excerpt {
    display: none;
  }
}
