.wp-block-latest-posts{
    &.wp-block-latest-posts__list{

    }
    &.is-grid{
        gap:1.5em;
        flex-wrap: wrap;
        @media only screen and (min-width: $screen-sm) {
            flex-wrap: nowrap;
        }
        li{
            margin:0;
        }


    }
    &.columns-3{

    }
    &.aligncenter{
        justify-content: center;
    }
    li{
        //might need to move this under grid
        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
        border-radius: var(--border-radius-md);
        margin:0;
        padding:1rem;
 
        .wp-block-latest-posts__featured-image{

        }
        img{
            width:100%;
            border-radius: var(--border-radius-sm);
        }
        .wp-block-latest-posts__post-title{
            padding: 1rem;
            display: inline-block;
        }
    }
}