/******** TABS ********/
.tabs-pill-style {
  .pp-tabs.pp-tabs-default {
    .pp-tabs-labels {
      display: flex !important;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 10px;
      .pp-tabs-label {
        transition: var(--transition-brand);
        top: auto !important;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 8px 18px;
        margin: 0;
        color: var(--color-text);
        background: #fff;
        border: 1px solid var(--color-primary-5a);
        border-radius: 30px;
        &:first-child {
          margin-left: -10px;
        }
        .pp-tab-label-inner {
          white-space: normal;
          position: static;
        }
        .pp-tab-label-flex {
          justify-content: center;
        }
        .pp-tab-title {
          font-family: var(--font-main);
          font-weight: 600;
          font-size: 17px;
          line-height: 1.4;
        }
        .pp-tab-icon {
          margin-bottom: 4px !important;
        }
        &:hover, &:focus, &.pp-tab-active {
          color: #fff;
          background: var(--color-primary-5);
          border-color: var(--color-primary-5);
        }
      }
    }
    .pp-tab-description {
      margin-top: 4px;
      font-size: 15px;
    }
    .pp-tabs-panel-content {
      padding: 20px 0 0;
    }
    .pp-tabs-panels .pp-tabs-label {
      display: none;
    }
  } 
}
