/********* GLOBAL STYLES *********/
/**** WP Admin Bar ****/
@media only screen and (max-width: 1470px) {
  body.admin-bar {margin-top: -46px;}
  body #wpadminbar {display: none;}
}
/*** Body Text ***/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .fl-module-bbwp-rich-text,
  .fl-rich-text,
  .pp-tabs-panel-content > div >,
  .pp-accordion-content > div >,
  .pp-member-description,
  .pp-sub-heading,
  div.fl-module .pp-heading-content .pp-sub-heading {
    p,ul,ol {
      margin: 0 0 var(--spacing-sm);
      letter-spacing: 0.05px;
    }
    h1,h2,h3,h4,p,ul,ol {
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}
/*** Links ***/
body {
  a {
    text-underline-offset: 5px;
    text-decoration-thickness: 1px !important;
    font-weight: bold;
  }
}
/*** Headings ***/
body {
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 var(--spacing-sm);
  }
}
/*** HR ***/
hr {
  margin: var(--spacing-sm) 0;
  border: 0;
  height: 2px;
  background-color: rgba(0,0,0,0.10);
}
